# working directories
/SiralimUltimateModded/
/YYToolkit-*/

# artifacts (general)
*.log

# artifacts (C#)
/SiralimDumper/.vs/
/SiralimDumper/bin/
/SiralimDumper/deps/
/SiralimDumper/obj/
