# working directories
/SiralimUltimateModded/
/YYToolkit-*/
/exported/
/dumped/
/temp/

# artifacts (general)
*.log
*.zip

# artifacts (C#)
/SiralimDumper/.vs/
/SiralimDumper/bin/
/SiralimDumper/deps/
/SiralimDumper/obj/
/SiralimDumper/gen/
